<article class="post-title">
    {{ $myURLPage := .Permalink }}
    <div>
        {{ with .Resources }}
        {{ with .GetMatch "{cover.jpg,cover.png,cover.jpeg}" }}
        {{ $cover := .Resize "300x" }}
        {{ with $cover }}
            <a href="{{ $myURLPage }}"><img src="{{ .Permalink }}"/></a>
        {{ end }}
        {{ end }}
        {{ end }}
    </div>
    <div>
        <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
        <p>{{ dateFormat "January 2, 2006" .Date }}</p>
        <div style="align-content: center">
            <p style="color: #838383"> <i>{{ slicestr .Summary 0 50 }}...</i></p>
            <a href="{{ .RelPermalink }}">Lire la suite</a>
        </div>
    </div>
</article>
