<div class="container list-posts">
    {{ if eq .Name "Posts" }}
        <div class="list-title"><h3>All {{ .Name }}<h3></div>
    {{else}}
            <div class="list-title">#{{ .Name }}</h2>
    {{end}}

    <ul class="post-tags">
        <li class="post-tag"><a href="{{ "/posts" | absLangURL }}">All posts</a></li>
        {{range $name, $taxonomy := .Site.Taxonomies.tags}}
                <li class="post-tag"><a href="{{ "/tags/" | absLangURL }}{{ $name | urlize }}">#{{ $name }}</a></li>
        {{ end }}
    </ul>
    {{ range (where .Pages "Params.type" "post" ).GroupByDate "2006" }}
    <h2 class="posts-year">{{ .Key }}</h2>
        <div class="container-article">
        {{- range .Pages  -}}
            {{- partial "list-posts.html" . -}}
        {{ end }}
    </div>
        {{ end }}
</div>
